<table class="table">
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Grupo</th>
      <th>Data de entrada</th>
      <th>Vencimento</th>
      <th>Dias para troca</th>
    </tr>
  </thead>
  <tbody>
    <% @user.uniforms.each do |uniform| %>
      <tr>
        <td><%= uniform.uniform_piece_type.piece_type %></td>
        <td><%= uniform.uniform_piece_group.group %></td>
        <td><%= uniform.entry %></td>
        <td><%= uniform.expiration %></td>
        <td><%= (uniform.expiration - Date.today).to_i %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<table style="width: 300px; height: 300px; border: 1px black solid">
  <tr>
    <td>1 </td>
    <td>1 </td>
    <td>1 </td>
  </tr>
  <tr>
    <td>1 </td>
    <td>1 </td>
    <td>1 </td>
  </tr>
  <tr>
    <td>1 </td>
    <td>1 </td>
    <td>1 </td>
  </tr>
  <tr>
    <td>1 </td>
    <td>1 </td>
    <td>1 </td>
  </tr>
</table>
<br>
<br>
<br>
