<div class="row clearfix">
  <div class="col-md-2 column">
    <%= render "admin/menu" %>
  </div>
  <div class="col-md-10 column">
    <div class="row clearfix">
      <div class="col-md-12 column">
        <%= link_to 'Novo funcionário', new_user_path, class: "btn btn-default" %>
        <hr>
      </div>
      <div class="col-md-12 column">
        <div class="row">
          <% @users.each do |user| %>
            <div class="col-md-3">
              <div class="thumbnail">
                <%= image_tag user.avatar.medium if user.avatar? %>
                <div class="caption">
                  <h3 class="text-center">
                    <%= user.name.split(" ")[0] %>
                  </h3>
                  <ul>
                    <li>
                      <%= user.position.position %>
                    </li>
                    <li>
                      <%= user.branch.branch %>
                    </li>
                  </ul>
                  <div class="text-center">
                  <%= link_to 'Detalhes', user, class: "btn btn-default" %>
                  <%= link_to 'Editar', edit_user_path(user), class: "btn btn-default"%>
                  </div>
                  <!--%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } % -->
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
 user.name
 user.email
 user.password_digest
 user.avatar
 user.gender.gender
 user.birth_date
 user.address
 user.city.city
 user.state.state
 user.position.position
 user.branch.branch
 user.active
-->
