<div class="row clearfix">
  <div class="col-md-2 column">
    <%= render "admin/menu" %>
  </div>
  <div class="col-md-10 column">
    <p id="notice"><%= notice %></p>
    <div class="col-md-6 column text-right">
      <table class="table table-hover">
        <tr>
          <th>Nome:</th>
          <th><%= @user.name %></th>
        </tr>
        <tr>
          <th>Email:</th>
          <th><%= @user.email %></th>
        </tr>
        <tr>
          <th>Sexo:</th>
          <th><%= @user.gender.gender %></th>
        </tr>
        <tr>
          <th>Data de nasc.:</th>
          <th><%= @user.birth_date %></th>
     	</tr>
	<tr>
          <th>Endereço:</th>
          <th><%= @user.address %></th>
        </tr>
        <tr>
          <th>Estado:</th>
          <th><%= @user.state.state %></th>
        </tr>
        <tr>
          <th>Cidade:</th>
          <th><%= @user.city.city %></th>
        </tr>
        <tr>
          <th>Posição:</th>
          <th><%= @user.position.position %></th>
        </tr>
        <tr>
          <th>Filial:</th>
          <th><%= @user.branch.branch %></th>
        </tr>
        <tr>
          <th>Ativo:</th>
          <th><%= @user.active %></th>
        </tr>
      </table>
      <%= link_to 'Editar', edit_user_path(@user) %> |
      <%= link_to 'Voltar', users_path %>
    </div>
    <div class="col-md-6 column">
      <p>
        <%= image_tag(@user.avatar.medium) if @user.avatar? %>
      </p>
    </div>
    <div class="col-md-12 column">
      <hr>
      <h1>Uniformes</h1>
      <hr>
        <%= render "uniforms" %>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
