<%= simple_form_for(@uniform_piece_group) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :group %>
    <%= f.input :description %>
  </div>
  <br>
  <div class="form-actions">
    <%= f.button :submit, "Salvar", class: 'btn btn-default' %>
  </div>
<% end %>
