<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @uniform_piece_group.group %>
</p>

<p>
  <strong>Description:</strong>
  <%= @uniform_piece_group.description %>
</p>

<%= link_to 'Edit', edit_uniform_piece_group_path(@uniform_piece_group) %> |
<%= link_to 'Back', uniform_piece_groups_path %>
